{% extends 'rango/base.html' %}

{% block title %}Home{% endblock %}
{% block body_block %}
    
   <h1>Homepage</h1><br />
   {% if user.is_authenticated %}
   <h2>Welcome, {{ user.username }}</h2>
   {% else %}
   <h2>Welcome, Guest!</h2>
   {% endif %}
   
  
   {%if categories %}
        <ul>
            {%for category in categories %}
            <li><a href="/rango/category/{{category.url}}">{{category.name}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong> There are no categories present. </strong>
    {% endif %}

   
 {% endblock %}